@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.tourcard {
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /*  border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;*/
    padding: 5px;
}

.bg-cointainer {
    background-image: url("https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg");
    background-size: cover;
    height: 100vh;

}

.main-heading {
    color: black;
    font-family: "Caveat";
    font-size: 36px;
    text-decoration: underline;
}

.paragraph {
    color: black;
    font-family: "Roboto";
}

.buttons {
    height: 36px;
    width: 136px;
    background-color: #078ab5;
    color: white;
    border-radius: 20px;
    border-width: 1px;
}

.bg-cointainers {
    background-image: url("https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100vh;
}

.main-headings {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 25px;
}

.card1 {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 13px;
}

.card1-heading {
    color: #0f0e46;
    font-family: "roboto";
    font-size: 23px;
    font-weight: bold;
}

.card1-image {
    height: 100px;
    width: 80px;
}


.bg-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    background-size: cover;
    height: 100vh;
}

.main-headingss {
    color: white;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    padding: 7px;
}

.cointainers {
    background-color: white;
    margin: 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-headings {
    font-size: 26px;
    font-family: Roboto;
    padding: 1px;
    font-weight: bold;

}

.card-paras {
    font-size: 12px;
    font-family: roboto;
    padding: 1px;

}
